USE [master]
GO
/****** Objeto:  Database [NetflixDB]    Data do Script: 30/04/2026 20:44:58 ******/
CREATE DATABASE [NetflixDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NetflixDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\NetflixDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NetflixDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\NetflixDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NetflixDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NetflixDB]
GO
/****** Objeto:  Table [dbo].[Ator]    Data do Script: 30/04/2026 20:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ator](
	[id_ator] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Conteudo]    Data do Script: 30/04/2026 20:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conteudo](
	[id_conteudo] [varchar](10) NOT NULL,
	[titulo] [varchar](255) NULL,
	[tipo] [varchar](20) NULL,
	[ano_lancamento] [int] NULL,
	[classificacao] [varchar](20) NULL,
	[duracao] [varchar](50) NULL,
	[descricao] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_conteudo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Conteudo_Ator]    Data do Script: 30/04/2026 20:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conteudo_Ator](
	[id_conteudo] [varchar](10) NOT NULL,
	[id_ator] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_conteudo] ASC,
	[id_ator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Conteudo_Diretor]    Data do Script: 30/04/2026 20:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conteudo_Diretor](
	[id_conteudo] [varchar](10) NOT NULL,
	[id_diretor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_conteudo] ASC,
	[id_diretor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Conteudo_Genero]    Data do Script: 30/04/2026 20:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conteudo_Genero](
	[id_conteudo] [varchar](10) NOT NULL,
	[id_genero] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_conteudo] ASC,
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Conteudo_Pais]    Data do Script: 30/04/2026 20:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conteudo_Pais](
	[id_conteudo] [varchar](10) NOT NULL,
	[id_pais] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_conteudo] ASC,
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Diretor]    Data do Script: 30/04/2026 20:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diretor](
	[id_diretor] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_diretor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Genero]    Data do Script: 30/04/2026 20:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[id_genero] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[NetflixRaw]    Data do Script: 30/04/2026 20:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NetflixRaw](
	[show_id] [varchar](50) NULL,
	[type] [varchar](50) NULL,
	[title] [varchar](max) NULL,
	[director] [varchar](max) NULL,
	[cast] [varchar](max) NULL,
	[country] [varchar](max) NULL,
	[date_added] [varchar](50) NULL,
	[release_year] [varchar](10) NULL,
	[rating] [varchar](50) NULL,
	[duration] [varchar](50) NULL,
	[listed_in] [varchar](max) NULL,
	[description] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Pais]    Data do Script: 30/04/2026 20:44:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[id_pais] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Conteudo_Ator]  WITH CHECK ADD FOREIGN KEY([id_ator])
REFERENCES [dbo].[Ator] ([id_ator])
GO
ALTER TABLE [dbo].[Conteudo_Ator]  WITH CHECK ADD FOREIGN KEY([id_conteudo])
REFERENCES [dbo].[Conteudo] ([id_conteudo])
GO
ALTER TABLE [dbo].[Conteudo_Diretor]  WITH CHECK ADD FOREIGN KEY([id_conteudo])
REFERENCES [dbo].[Conteudo] ([id_conteudo])
GO
ALTER TABLE [dbo].[Conteudo_Diretor]  WITH CHECK ADD FOREIGN KEY([id_diretor])
REFERENCES [dbo].[Diretor] ([id_diretor])
GO
ALTER TABLE [dbo].[Conteudo_Genero]  WITH CHECK ADD FOREIGN KEY([id_conteudo])
REFERENCES [dbo].[Conteudo] ([id_conteudo])
GO
ALTER TABLE [dbo].[Conteudo_Genero]  WITH CHECK ADD FOREIGN KEY([id_genero])
REFERENCES [dbo].[Genero] ([id_genero])
GO
ALTER TABLE [dbo].[Conteudo_Pais]  WITH CHECK ADD FOREIGN KEY([id_conteudo])
REFERENCES [dbo].[Conteudo] ([id_conteudo])
GO
ALTER TABLE [dbo].[Conteudo_Pais]  WITH CHECK ADD FOREIGN KEY([id_pais])
REFERENCES [dbo].[Pais] ([id_pais])
GO
USE [master]
GO
